<!DOCTYPE html>
<html lang="en">
  <%- include('../partial/head.ejs')%>

<body>
  <%- include('../partial/nav.ejs')  %> 

      <div class="container center-align">
        <i class="material-icons prefix" style="font-size: 6rem;">sentiment_very_dissatisfied</i>
        <h1>OOPS....</h1>
        <h3>Page Not Found</h3>
      </div>
      
</body>
</html>